
  body {
    background-image: url('../img/fondo-01.jpg');
    background-repeat:no-repeat;
    background-color: #000;
    background-position:center center;
    background-size: 100% 100%;
  }

  h1, h3 {
    color: #8258FA;
  }

  .botones {
    cursor: pointer;
    height: 80%;

  }
  .botones:hover {
    filter: opacity(.5);
  }

  .btn-default {
      background-color: rgb(80,137,118);
      color: #000;
  }
.btn-default:hover {
  background-color: rgb(221,234,192);

}
  footer {
    position: absolute; top: 120%; height: 95%;
  }
  .respuestas {
    cursor: pointer;
    color: rgb(221,234,192);
    box-sizing: border-box;
    margin-left: 50%;

  }
  .respuestas:hover {
    /*box-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px;*/
    font-weight: bold;
    color: #fff;

  }
.encabezado{
  padding: 12%;
}

.acerca {
  color: #fff;
}
.modal-content {
  background-color: #000;
  background-image: url('../img/mystery-157015_1280.png');
  background-size: 100% 100%;
  color: #fff;
}

.glyphicon-info-sign {
   color: rgb(221,234,192);
   font-size: 24px;
}

.glyphicon-info-sign:hover{
    color: #000;
}
